/* applied to elements */
body {
    margin: 0;
    padding: 0;

    background-color: yellow;
    background-image: url("../images/funky-lines.png");
    background-repeat: repeat;
}

a:link,
a:visited {
    color: #999999;
    text-decoration: none;
}

hr {
    height: 3px;
    border: none;
    background-color: #dddddd;
}

input {
    margin-top: 7px;
    margin-right: 25px;
    padding: 0 10px;
    width: 95.7 %;
    height: 30px;

    border: 1px solid #dddddd;
}

textarea {
    margin-top: 7px;
    padding: 0 10px;
    width: 95.7%;

    border: 1px solid #dddddd;
}

button {
    margin: 20px 0 5px 0;
    padding: 10px 25px;

    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13.5pt;
    background-color: #4aaaa5;
    border: none;
}

/* applied to classes in index or shared by all pages */
.navbar {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}

.navContent {
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.brand {
    padding: 5px 35px;
    width: auto;

    background-color: #4aaaa5;
}

.brand>h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
}

.navLinks {
    vertical-align: bottom;

    color: #eeeeee;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13.5pt;
    word-spacing: 10px;
    font-weight: lighter;
}

.main {
    width: 960px;
    margin: auto;
}

.content {
    padding: 15px 15px 25px 30px;

    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.content>h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

.content>img {
    margin: 23px 25px 10px 0;
    float: left;
}

.content>p {
    padding-top: 5px;

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13.5pt;
    line-height: 26pt;
    color: #777777;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 9pt;
    color: #dddddd;
    background-color: #666666;
    border-top: 4px solid #4aaaa5;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* applied to portfolio page-specific classes */
.images {
    margin: 25px 25px 0 0;

    
}

.images>p {
    position: absolute;
    bottom: 20px;
}

.row1,
.row2,
.row3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-start;
}

.port1,
.port2,
.port3,
.port4,
.port5 {
    position: relative;
    text-align: center;
    vertical-align: center;

    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18pt;
    background-color: #4aaaa5;
    line-height: 26pt;
}

/* applied to contact page-specific classes */

.content>form>p {
    padding-top: 20px;
    margin: 0;

    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14pt;
    color: #777777;
}

